body {
  font-family: Titillium Web, sans-serif;
}

#bgr {
  background-color: #faf8ef;
  z-index: -999;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 33%;
}
.title h1 {
  font-size: 66px;
  font-weight: bold;
  color: #776e65;
  font-family: "Anton", sans-serif;
}
.content {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
.left,
.right {
  display: flex;
}
#current-name,
#new-game {
  color: white;
  font-size: 22px;
  width: 160px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 13px;
  font-size: 22px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#new-game {
  background-color: #8b8682;
}
#current-name {
  background-color: #bbada0;
}
#new-game:hover {
  background-color: #8f7a66;
  cursor: pointer;
}
.high-score,
.your-score {
  width: 160px;
  font-size: 22px;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #bbada0;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 4px 0;
  margin: 3px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
h1 {
  text-shadow: 2px 2px #001427;
}
img {
  width: 150px;
  border-radius: 20px;
}

/* .user {
	background: #ccc;
	
	margin-bottom: 150px;
	margin-left: 80px;
	border: 1px solid #001427;
	border-radius: 8px;
	opacity: 0.8;
	color: #001427;
	text-align: center;
	line-height: 83px;
} */

#divcontrol {
  width: 300px;
  height: 220px;
  float: right;
  background-color: #fff;
  margin-right: 80px;
  opacity: 0.7;
  overflow: hidden;
  border: 1px solid #001427;
  border-radius: 10px;
  color: #001427;
}

/* #imgPlayer {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 20px;
  background-image: url("./Images/Opng.png");
  background-repeat: round;
  background-color: none;
}

#pgrTime {
  margin-left: 10px;
  margin-top: 14px;
  width: 150px;
  height: 14px;
  background-color: #002142;
} */

/* .square {
  width: 25px;
  height: 25px;
  font-size: 9px;
  border: #001427 1px solid; */
/* border-top:#000 1px solid; */
/* background-color: #fff;
  background-repeat: round;
  overflow: hidden;
  opacity: 0.65;
  cursor: pointer;
} */

/* #label1 {
  margin-top: 20px;
  text-align: center;
}

#label2 {
  margin-top: 10px;
  margin-left: 35px;
  float: left;
}

.button {
  width: 200px;
  height: 50px;
  margin-left: 50px;
  margin-top: 30px;
  font-weight: 700;
  background-color: #002142;
  cursor: pointer;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
} */

.button:hover {
  opacity: 0.9;
}

.button:active {
  background-color: #007acc;
  outline: none;
}
/*  */
#playground {
  display: flex;
  justify-content: space-around;
}
#ground {
  display: flex;
}
#user-info {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-container {
  width: 166px;
  height: 166px;
  margin-bottom: 150px;
  margin-left: 80px;
  float: right;
  background-color: #ccc;
  opacity: 0.8;
  overflow: hidden;
  border: 1px solid #001427;
  border-radius: 10px;
  color: #001427;
}

.user {
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
}

#img1,
#img2 {
  width: 60px;
  height: 60px;
  margin: auto;
  margin-top: 20px;
  background-repeat: round;
  background-color: none;
}
canvas {
  border: 5px solid black;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #bbada0;
}
