body {
  font-family: Titillium Web, sans-serif;
}

#bgr {
  background-color: #faf8ef;
  z-index: -999;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 33%;
}
.title h1 {
  font-size: 76px;
  font-weight: bold;
  color: #776e65;
  font-family: "Anton", sans-serif;
}
.content {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
.left,
.right {
  display: flex;
}

#new-game {
  color: white;
  font-size: 18px;
  font-weight: 600;
  width: 140px;
  height: 56px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 13px;
  font-size: 22px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8b8682;
}

#current-name,
#current-score,
#current-highscore {
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
#new-game:hover {
  background-color: #8f7a66;
  cursor: pointer;
}
.name,
.high-score,
.your-score {
  width: 140px;
  height: 56px;
  font-size: 16px;
  color: #e8e8e8;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #bbada0;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 3px;
}

img {
  width: 150px;
  border-radius: 20px;
}

/* .user {
	background: #ccc;
	
	margin-bottom: 150px;
	margin-left: 80px;
	border: 1px solid #001427;
	border-radius: 8px;
	opacity: 0.8;
	color: #001427;
	text-align: center;
	line-height: 83px;
} */

#divcontrol {
  width: 300px;
  height: 220px;
  float: right;
  background-color: #fff;
  margin-right: 80px;
  opacity: 0.7;
  overflow: hidden;
  border: 1px solid #001427;
  border-radius: 10px;
  color: #001427;
}
.button:hover {
  opacity: 0.9;
}

.button:active {
  background-color: #007acc;
  outline: none;
}
#playground {
  display: flex;
  justify-content: space-around;
}
#ground {
  display: flex;
}
#user-info {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

canvas {
  border: 5px solid black;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #bbada0;
}
